<%- include('../layouts/header') %>
    <%- include('./nav', {admin: admin}) %>
        <main>
            <h2>Page Successfully Updated!</h2>
        </main>

        <%- include('../layouts/footer') %>