<nav class="navbar">
    <a href="/" class="home-link" style="margin-right: auto;">
        <h1>Olamigoke Blog</h1>
    </a>
    <h3 class="admin_name">Welcome <%= admin %>!</h3>

    <div class="nav-list">
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/add">Add New Page</a></li>
            <li><a href="/admin/allpages">Edit Pages</a></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </div>
</nav>